---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main class="">
    <h1 class="text-6xl font-bold text-center my-2">
      Hi! I am <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-ctp-red to-ctp-blue"
        >Gabriel</span
      >!
    </h1>
  </main>
</Layout>
